<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-facebook" viewBox="0 0 32 32">
<title>facebook</title>
<path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16s-7.163-16-16-16zM17.267 7.534h2.6v2.932h-1.867c-0.267 0-0.733 0.134-0.733 0.801v1.733h2.667l-0.267 3h-2.4v8.466h-3.534v-8.466h-1.667v-3h1.667v-1.934c0-1.333 0.601-3.533 3.534-3.533z"></path>
</symbol>
</defs>
</svg>